body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 0px;
  text-align: left;
  background-color: #fff7e1;
}
#page {
  width: 960px;
  margin: 0 auto;
}
#header {
  width: 960px;
  height: 80px;
  margin: 0px;
  background-color: rgb(3, 52, 79);
}
#header_logo {
  float: left;
  width: 278px;
  height: 38px;
  margin: 0px;
  padding: 20px;
  border-style: solid;
  border-width: 1px;
  border-color: black;
  color: azure;
  text-align: center;
}
#header_center {
  float: left;
  width: 280px;
  height: 38px;
  margin: 0px;
  padding: 20px;
  border-style: solid none solid none;
  border-width: 1px;
  border-color: black;
  color: azure;
  text-align: center;
}

#header_right {
  float: left;
  width: 278px;
  height: 38px;
  margin: 0px;
  padding: 20px;
  border-style: solid;
  border-width: 1px;
  border-color: black;
  color: azure;
  text-align: center;
}

#menu {
  float: left;
  width: 960px;
  height: 30px;
  background-color: black;
  text-align: center;
  color: azure;
}

#content {
  float: left;
  width: 960px;
  height: 500px;
}
#content_left {
  float: left;
  width: 354px;
  height: 250px;
  margin: 30px;
  padding: 30px;
  border-style: solid;
  border-width: 3px;
  border-color: black;
  color: azure;
  background-color: steelblue;
  text-align: center;
  word-wrap: break-word;
  overflow: auto;
  border-radius: 10px;
}

#content_right {
  float: left;
  width: 354px;
  height: 250px;
  margin: 30px;
  padding: 30px;
  border-style: solid;
  border-width: 3px;
  border-color: black;
  color: azure;
  background-color: steelblue;
  text-align: center;
  word-wrap: break-word;
  overflow: auto;
  border-radius: 10px;
}

#footer {
  position: absolute;
  bottom: 0;
  float: left;
  width: 960px;
  height: 30px;
  margin: 0px;
  background-color: gray;
  text-align: center;
  color: azure;
}
